.form {
    display: flex;
    flex-direction: column;
    width: 300px;

    & h2 {
        text-align: center;
        margin: 1.5rem 0;
    }

    & input {
        margin-bottom: 1rem;
        padding: 2px 0.5rem;
        font-size: 1.2rem;

        &[type=submit] {
            color: white;
            background-color: var(--light-color);
            font-weight: bold;
            cursor: pointer;
        }
    }
}

a {
    color: black;
}