:root {
    --primary-color: #071F57;
    --second-color: #03153E;
    --second-light-color: #0E2B6D;
    --dark-color: #010B22;
    --light-color: #1E3C83;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100dvh;
    width: 100dvw;
    min-width: 320px;
    overflow-x: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 92dvh;
}

